body {
	color: #7F7F7F;
}

.animate-enter
{
	transition: 1s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active
{
	opacity: 1;
}

.wordcloud-container {
	border: solid 1px #CCC;
	height: 500px;
	width: 700px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	margin: 0 auto 0 auto;
	margin-top: 50px;
}

.wordcloud-container text {
	cursor: pointer;
}

.wordcloud-container text:hover {
	opacity: .7 !important;
}

.wordcloud-selected {
	padding-top: 20px;
	width: 500px;
	text-align: center;
	margin: 0 auto 0 auto;
}